body {

    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 73%, rgba(141,28,61,1) 100%);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.9em;
    height:100vh;
    width: 100vw;
}

#cardTitulo {
    width: 90%;
    height: 150px;
    background:transparent;
}

#tablaPosiciones{
    width:90%;
    height: auto;
    background:#8d1c3d;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#tablaPosiciones #tituloCard{
    background:#8d1c3d;
    border:2px;
    border-color: #8d1c3d;
    width: 100%;
    height: 50px;
}

#tablaPosiciones #bodyCard{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(225,195,150,1) 50%, rgba(176,150,119,1) 100%);
    width:93%;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
img {
    width:100%;
    height: 100%;
    object-fit:cover;
    border-radius:0.2em;
}

table{
    width:40%;
    background:transparent;
}

#spanTabla{
    align-items: center;
    text-align: center;
    justify-content: center;
    
}